.header-hero{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('./img/header2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 79vh;
}

.heading{
  font-family: 'Kalam', cursive;
  font-weight: 400;
}